* {

    box-sizing: border-box;
    font-family: 'Arial', Courier, monospace;

}

body {
    padding: 0;
    margin: 0;
}



.nav a:hover {
    text-decoration: underline;
    background-color: antiquewhite;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(71, 92, 124);
    padding-left: 20%;
}

.nav ul li {
    display: inline-flex;
}

.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}